pipeline/MasterSales.json
{
	"name": "SalesAzureSqlToSynapse",
	"properties": {
		"activities": [
			{
				"name": "LandingZoneFullLoad",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table_list_full_load",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "AzureSqlToSynapse",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AzureSqlToSynapse",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_schema": {
										"value": "@pipeline().parameters.source_schema",
										"type": "Expression"
									},
									"source_table": {
										"value": "@item()",
										"type": "Expression"
									},
									"target_schema": {
										"value": "@pipeline().parameters.target_schema",
										"type": "Expression"
									},
									"target_table": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LandingZoneDeltaLoad",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table_list_delta_load",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "AzureSqlToSynapseDeltaLoad",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AzureSqlToSynapseDeltaLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_schema": {
										"value": "@pipeline().parameters.source_schema",
										"type": "Expression"
									},
									"source_table": {
										"value": "@item()",
										"type": "Expression"
									},
									"target_schema": {
										"value": "@pipeline().parameters.target_schema",
										"type": "Expression"
									},
									"target_table": {
										"value": "@item()",
										"type": "Expression"
									},
									"delta_date": {
										"value": "@pipeline().parameters.load_date",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "StandardizedZone",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LandingZoneFullLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LandingZoneDeltaLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.procedure_standardized_zone",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecuteProcedureStandardizedZone",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExecuteProcedureSynapse",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"procedure_name": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "CuratedZone",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "StandardizedZone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.procedure_curated_zone",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecuteProcedureCuratedZone",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExecuteProcedureSynapse",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"procedure_name": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "RefreshPowerBI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CuratedZone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/users/2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RefreshPowerBI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/users/2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RefreshPowerBI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/users/2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			}
		],
		"parameters": {
			"table_list_full_load": {
				"type": "array",
				"defaultValue": [
					"Currency",
					"CreditCard",
					"SpecialOffer"
				]
			},
			"load_date": {
				"type": "string",
				"defaultValue": "20140630"
			},
			"source_schema": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"target_schema": {
				"type": "string",
				"defaultValue": "LandingSales"
			},
			"table_list_delta_load": {
				"type": "string",
				"defaultValue": [
					"SalesOrderHeader",
					"SalesOrderDetail"
				]
			},
			"procedure_standardized_zone": {
				"type": "array",
				"defaultValue": [
					"StandardizedSales.ProcedureCreditCard",
					"StandardizedSales.ProcedureCurrency",
					"StandardizedSales.ProcedureSalesOrderDetail",
					"StandardizedSales.ProcedureSalesOrderHeader",
					"StandardizedSales.ProcedureSpecialOffer"
				]
			},
			"procedure_curated_zone": {
				"type": "array",
				"defaultValue": [
					"Curated.ProcedureSales",
					"Curated.ProcedureSpecialOffer"
				]
			}
		},
		"variables": {
			"table_list": {
				"type": "Array",
				"defaultValue": [
					"Currency",
					"CreditCard"
				]
			}
		},
		"folder": {
			"name": "Sales"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-29T10:59:34Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}